<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
</head>
<body>


<h2 id="infotitle">Information Page</h2>
<div id="tabs">
  <ul>
    <li><a href="#fragment-1">History</a></li>
    <li><a href="#fragment-2">Amenties</a></li>
    <li><a href="#fragment-3">Rates</a></li>
    <li><a href="#fragment-4">Things to do</a></li>
    <li><a href="#fragment-5">Policies</a></li>
  </ul>
  <div id="fragment-1">
    The property was originally a summer camp.  The Quinn family bought the property and Bill Quinn's idea was to build seven cottages on the property
    until he was <br>stopped by a change in the building code.  The house was oroginally built in 1950 and has seen at least three renovations.  We bought the house in August
    of 2015 and <br>have made many improvmeents and continue to improve the house every year.
  </div>
  <div id="fragment-2">
    5 Bedrooms (Sleeps 10) - 1 king, 1 queen, 1 full and 2 rooms with  - 2 extra long twin beds<br>
    2 Baths- 1 full bath with tub/shower on first floor, 1 full bath with shower on second floor<br>
    Large eat in kitchen<br>
    Large family room with fireplace<br>
    Living room with fireplace<br>
    Gas Grill<br>
    Large outdoor dining<br>
    Pet friendly with prior approval<br>
    Private path to town cove<br>
    Convieniently located close to Skaket Beadh (Bay) and Nauset Beach (Ocean) beaches<br>
    Air-conditioning units in kitchen and bedrooms<br>
    Hair dryers(2)<br>
    Heat<br>
    Iron and ironing board<br>
    Internet<br>
    Phone<br>
    2 Smart TVs/cable<br>
    Washer and dryer<br>
    Blankets and pillows<br>
    Parking for 4 cars

    Guests need to provide linens - includng bed sheets and towels.  Blankets and pillows are provided.
  </div>
  <div id="fragment-3">
    Off Season                   Restrictions             Daily     Weekly<br>
    __________________________________________________________________________<br>
  Oct 15 2016 - Apr 27 2017      3 night minimum           $400      $2,000<br><BR>

    Early Season<br>
    __________________________________________________________________________<br>
  Apr 28 2017 - Jun 1 2017       3 night minimum           $425      $2,100<br><br>

   Pre-Season<br>
   __________________________________________________________________________<br>
  Jun 2 2017 - Jun 22 2017       3 night minimum           $450      $2,500<br><br>

   In Season<br>
   __________________________________________________________________________<br>
  Jun 23 2017 - Aug 26 2017      7 night minimum Sat to Sat         $3,100<br><br>

   Post Season<br>
   __________________________________________________________________________<br>
  Aug 27 2017 - Oct 30 2017      3 night minimum stay     $450      $2,500<br><br>

<br>
Depost/Security

Depost  of 1/2 the amount is due 14 days after a reservation.
The other 1/2 is due 30 days prior to arrival.
There is a $300 security deposit that will be refunded with 2 weeks after departure.

</div>
<div id="fragment-4">
<div class="title">Restaurants</div><br>

There are plenty of good restaurants to explore but here are some of our local favorites in Orleans.  Most restaurants do not take reservations but you should check.<br><br>
Mahoney's Atlantic Bar and Grill 28  Main Street
<div class=button-link><a href="http://mahoneysatlantic.com"><image src="/assets/link1.png" alt=""  height="30" width="30"></a></div><br>


Land Ho Rt. 6A and Cove Rd. 38 Main St
<div class=button-link><a href="http://www.land-ho.com/orleans"><image src="/assets/link1.png" alt=""  height="3" width="30"></a></div><br>

<div class="title">Beaches/Sticker</div><br>
The two local beaches are Skaket on the bay side and Nauset on the ocean side.  The daily parking fee from Memorial Day through September is $20 a day.<br>
<br>
If you rent for a week during that time you are entitled to get a weekly pass either by mail in or you can go to the Nauset Beach and get a car sticker there.  You will need your car reqistration and rental agreement.<br>
At low tide at Skaket the walk to goes out about 1 mille. It is warmer than the ocean and has virtually no waves.<br>
Both Skaket and Nauset have life guards, facilities and snack bar.


</div>

<div id="fragment-5">
<div class="title">Policies</div><br>

Pet Policy:<br>
<br>
Dogs are allowed with prior approval and an extra $75 cleanning fee will be charged.<br>
You must pick up after your pet.<br>
Pets are allowed on the town cove so it is an enjoyable walk with you pet on the water.<br>
<br>
Refunds:<br>
<br>
Refunds are granted 100% 60 days prior to rental date.  Refunds will then be given if the property can be rerented.<br>
<br>
Cleaning:<br>
<br>
You are expected to leave the cottage as you found it in broom swept.
<br
Garbage: <br>
<br>
Garbage pick up is on Wednesdays and Saturdays.  Recycling is on Sunday's.  We can't gaurantee when they will pick up so the garbage should be out the nigt before.<br>






</div>
