
<div id="userrow"class="container">

<div class="userRow1 row">
	<div class="col s5">
		<br><br>
		<h2><strong>PROFILE</strong></h2>
		<br>
		NAME : <%= @user.name %><br>
		USER EMAIL :	<%= @user.email %><br>
		<br>
		<br>
		<br>

		
	</div>
</div>
