
<h2 class="photohead">Photo Album</h2>

  <center><div class="your-class">
    <div><p>Cottage View</p><img  class="beach2" src="/assets/cottage1.jpg" alt=""  height="500" width="700"></div>
    <div><p>Living ROom</p><img  class="beach2" src="/assets/living2.jpg" alt=""  height="500" width="700"></div>
    <div><p>Family Room</p><img  class="beach2" src="/assets/family.jpg" alt=""  height="500" width="700"></div>
    <div><p>Dining ROom</p><img  class="beach2" src="/assets/dining1.jpg" alt=""  height="500" width="700"></div>
    <div><p>Kitchen</p><img  class="beach2" src="/assets/kitchen1.jpg" alt=""  height="500" width="700"></div>
    <div><p>Bedroom 1</p><img  class="beach2" src="/assets/bedroom1.jpg" alt=""  height="500" width="700"></div>
    <div><p>Bedroom 2</p><img  class="beach2" src="/assets/bedroom2.jpg" alt=""  height="500" width="700"></div>
    <div><p>Bedroom3</p><img  class="beach2" src="/assets/bedroom3.jpg" alt=""  height="500" width="700"></div>
    <div><p>Bedroom 4</p><img  class="beach2" src="/assets/bedroom4.jpg" alt=""  height="500" width="700"></div>
    <div><p>Bedroom 5</p><img  class="beach2" src="/assets/bedroom5.jpg" alt=""  height="500" width="700"></div>
    <div><p>Downstairs Bath</p><img  class="beach2" src="/assets/bath1.jpg" alt=""  height="450" width="600"></div>
    <div><p>Upstaris Bath </p><img  class="beach2" src="/assets/bath2.jpg" alt=""  height="500" width="700"></div>
    <div><p>Garden View</p><img  class="beach2" src="/assets/garden.jpg" alt=""  height="500" width="700"></div>
    <div><p>Patio View</p><img  class="beach2" src="/assets/patio.jpg" alt=""  height="500" width="700"></div>
    <div><p>Skaket Beach - Bayside low tide</p><img  class="beach2" src="/assets/skaket.jpg" alt=""  height="500" width="700"></div>
    <div><p>Nauset Beach - Oceandside</p><img  class="beach2" src="/assets/nauset.jpg" alt=""  height="500" width="700"></div>
    <div><p>Dog on Beach</p><img  class="beach2" src="/assets/dog.jpg" alt=""  height="500" width="500"></div>
  </div>
